@media  only screen and (max-width: 800px) {
    #aaa {
        background-image: url("d0.jpg");
        width: 100dvw;
        margin-left: -2dvw;
        margin-top: -2dvh;
        padding-top: 0.3vh;
        padding-bottom: 5vh;
        height: 127dvw;
    }
    
    h4 {
        margin-top: -8dvw;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 9vw;
    }
    #aa0 {
        color:  rgb(250, 250, 250);
        background-color: rgba(2, 2, 2, 0.377);
        margin-left: 45dvw;
        padding-left: 2dvw;
        padding-right: 2dvw;
        border-radius: 0.6dvw;
        text-align: center;
        width: max-content;
        font-family:'Times New Roman', Times, serif;
        margin-bottom: -4vh;
        font-size: 4dvw;
        font-weight: 600;
    }
    
    #aa1 {
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        font-size: 12dvw;
        
    }
    
    #aa2 {
        backdrop-filter: blur(10px);
        font-size: 4dvw;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 0.5vh;
        font-weight: 600;
        margin-top: -7vh;
        padding-top: 0.5vw;
        padding-bottom: 0.9vw;
        position: absolute;
        left: 20%;
        justify-content: center;
        justify-self: center;
        text-align: center;
        width: 60vw;
        color:  rgb(250, 250, 250);
        background-color: rgba(2, 2, 2, 0.377);   
    }
    
    #aa3 {
        margin-top: 1vw;
        position: absolute;
        left: 2.2dvw;
        padding-top: 4vw;
        width: 95vw;
        height: 65dvw;
    }
    
    #aa4 {
        background: #f0961975;
        font-size: 5dvw;
        text-align: center;
        margin-top: 82dvw;
        font-weight: 700;
        color:  rgb(2, 0, 0);
    }
    
    #bbb { 
        font-family: sans-serif;
        font-size: 4dvw;
        font-weight: 700;
        background: rgb(244,157,0);background-image: linear-gradient(-60deg, #fc5454 0%, #f09819 100%);
        color: rgb(34, 34, 34);
        width: 100.2dvw;
        margin-left: -2.2dvw;
        margin-top: -2dvh;
        padding-top: 3vh;
        height: 62dvw;
        text-align: center;
    }
    
    .bb0 {
        margin-left: 4.5dvw;
        margin-right: 2dvw;
        border-radius: 3dvw;
        height: 69dvw;
        padding-top: 5dvw;
        backdrop-filter: blur(1dvw);
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 3dvw;
    }
    .bimg0 {
        border-style: solid;
        border-color: black;
        border-width: 0.02dvw;
        border-radius: 1.5dvw;
        margin-left: 4.5dvw;
        height: 50dvw;
        width: 80dvw;
    }
    
    .btext0 {
        border-style: solid;
        border-width: 0.5dvw;
        border-color: black;
        margin-left: 15dvw;
        padding-left: 2dvw;
        padding-right: 3dvw;
        padding-top: 2dvw;
        padding-bottom: 2dvw;
        margin-top: 1dvw;
        width: 55dvw;
        border-radius: 1.5dvw;
        background-color: rgb(241, 174, 85);
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 4dvw;
        text-decoration: none;
        font-weight: 700;
        height: 10dvw;
    }
    
    .btext0:hover {
        background-color: rgb(3, 2, 0);
    }
    
    .bold {
        font-weight: 700;
        margin-bottom: -3dvw;
    }
    .pm {
        color: white;
        margin-top: -0.01dvw;
        margin-bottom: -0.01dvw;
    }
    
    #rd {
        margin-left: -1.8dvw;
        width: 100dvw;
    }

    
    #i {
        display: inline-flex;
    }
    
    
    #o {
        backdrop-filter: blur(1dvw);
        background-color: rgba(0, 0, 0, 0.3);
        padding-top: 4dvw;
        padding-bottom: 4dvw;
        overflow-y: scroll;
    }
    
    #ccc {
        padding-top: 5dvw;
        background-image: url('d2.jpg');
    }
    
    #d {
        color: rgb(0, 0, 0);
        width: max-content;
        background: rgba(245, 222, 179, 0.781);
        text-align: center;
        font-size: 6dvw;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 13dvw ;
        padding-top: 1dvw;
        padding-bottom: 1dvw;
        padding-left: 12dvw;
        padding-right: 12dvw;
        margin-bottom: 2dvw;
        margin-top: -0.1dvw;
    }
    
    .i {
        height: 50dvw;
        margin-left: 2dvw;
    }
    
    #ddd {
        color: black;   
    }
    
    
}


@media  only screen and (min-width: 810px) and (max-width: 5000px) {
    #aaa {
        width: 100dvw;
        margin-left: -2dvw;
        margin-top: -2dvh;
        padding-top: 0.3vh;
        padding-bottom: 5vh;
        height: 95dvw;

    }
    
    #aa0 {
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        color: orangered;
        margin-bottom: -18vh;
        font-size: 2dvw;
        font-weight: 600;
        color: black;
    }
        
    h4 {
        margin-top: -9dvw;
        text-align: center;
        font-size: 2vw;
        margin-bottom: 9vw;
    }
    
    #aa1 {
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        color: rgb(255, 72, 0);
        font-size: 12dvw;
    }
     
    #aa2 {
        font-size: 2dvw;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 0.9vw;
        font-weight: 600;
        margin-top: -7vw;
        padding-top: 0.5vw;
        padding-bottom: 0.9vw;
        position: absolute;
        left: 35%;
        justify-content: center;
        justify-self: center;
        text-align: center;
        width: 30vw;
        color:  white;
        background-color: rgb(235, 63, 0);   
    }
    
    #aa3 {
        position: absolute;
        left: 8dvw;
        width: 85vw;
        height: 50dvw;
    }
 
    #aa4 {
        font-size: 5dvw;
        text-align: center;
        margin-top: 60dvw;
        font-weight: 700;
        color:  maroon;
    }

    #bbb { 
        font-family: sans-serif;
        font-size: 2.5dvw;
        font-weight: bold;
        background: rgb(244,157,0);background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
        color: rgb(49, 49, 49);
        width: 100.4dvw;
        margin-left: -0.5dvw;
        margin-top: -2dvh;
        padding-top: 0.3vh;
        height: 135dvw;
        text-align: center;
    }
    

    .bb1 {
        height: 5dvw;
        width: 14vw;
        font-size: 1.2dvw;
        margin-top: 5dvw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        padding-right: 7vw;
        padding-left: 7vw;
        font-weight: 800;
        position: absolute;
        left: 4dvw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb0:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }
    
    .bb2 {
        width: 18vw;
        font-size: 1.2dvw;
        left: 4dvw;
        margin-top: 15dvw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-weight: 800;
        position: absolute;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb1:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }
    

    .bb3 {
        width: 16vw;
        font-size: 1.2dvw;
        margin-top: 15dvw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        padding-right: 5vw;
        padding-left: 5vw;
        left: 35dvw;
        position: absolute;
        font-weight: 800;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb2:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }
    

    .bb4 {
        height: 4dvw;
        width: 20dvw;
        font-size: 1.2dvw;
        margin-top: 5dvw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-weight: 800;
        position: absolute;
        left: 65dvw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb3:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }
    

    .bb5 {
        width: 20vw;
        height: 4.3dvw;
        font-size: 1.3dvw;
        margin-top: 15dvw;
        padding-top: 2vw; rotate(20deg);
    }
        padding-bottom: 2vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-weight: 800;
        position: absolute;
        left: 65dvw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb4:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }
    

    .bb6 {
        width: 16dvw ;
        font-size: 1.2dvw;
        margin-top: 5dvw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-weight: 800;
        position: absolute;
        left: 35dvw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1vw;
        border-color: black;
        border-style: solid;
    }
    
    .bb5:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }


    .bb7 {
        width: 14dvw;
        font-size: 1.2dvw;
        margin-top: 25dvw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        padding-right: 7vw;
        padding-left: 7vw;
        font-weight: 800;
        position: absolute;
        left: 18dvw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background:  white;
        border-radius: 1dvw;
        border-color: black;
        border-style: solid;
    }
    
    .bb6:hover {
        background-color: rgba(2, 2, 2, 0.397);
        color: black;
    }

    .bold {
        text-decoration: underline;
        font-weight: 800;
        margin-bottom: -3dvw;
    }
    .pm {
        color: white;
        margin-top: -0.01dvw;
        margin-bottom: -0.01dvw;
    }
    
    #road {
        margin-top: 42dvw;
        height: 60vw;
        width: 90dvw;
    }
    
    #in {
        display: inline-flex;
    }

    #out {
        padding-top: 1dvw;
        padding-bottom: 0.5dvw;
        overflow-y: scroll;
    }

    #cc0 {
        width: 102dvw;
        left: -2dvw;
        color: white;
        background: rgb(224,16,0);
        background: linear-gradient(137deg, rgba(224,16,0,1) 0%, rgba(255,79,33,1) 48%, rgba(255,100,0,1) 100%); 
        text-align: center;
        font-size: 4dvw; 
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        margin-left: -2dvw;
        margin-bottom: -0.3dvw;
        margin-top: -0.1dvw;
    }

    .imgs {
        height: 25dvw;
        margin-left: 1dvw;
    }
    
} 
