#aaa {
    width: 100dvw;
    margin-left: -2dvw;
    margin-top: -2dvh;
    padding-top: 0.3vh;
    padding-bottom: 5vh;
    /* background: rgb(244,157,0);
    background: linear-gradient(117deg, rgba(244,157,0,1) 0%, rgb(255, 187, 0) 100%);  */
    height: 97dvw;
}
    
h4 {
    margin-top: -8dvw;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 9vw;
}

#aa0 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: orangered;
    margin-bottom: -4vh;
    font-size: 4dvw;
    font-weight: 600;
}

#aa1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 72, 0);
    font-size: 12dvw;

}
 
#aa2 {
    font-size: 4dvw;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.5vh;
    font-weight: 600;
    margin-top: -2.5vh;
    padding-top: 0.5vw;
    padding-bottom: 0.9vw;
    position: absolute;
    left: 20%;
    justify-content: center;
    justify-self: center;
    text-align: center;
    width: 60vw;
    color:  white;
    background-color: rgb(235, 63, 0);   
}

#aa3 {
    margin-top: 1vw;
    position: absolute;
    left: 2dvw;
    padding-top: 4vw;
    width: 95vw;
    height: 62dvw
}

#bbb { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 4dvw;
    background: rgb(244,157,0);background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: rgb(49, 49, 49);
    width: 100dvw;
    margin-left: -2dvw;
    margin-top: -2dvh;
    padding-top: 0.3vh;
    height: 120dvw;
    text-align: center;
}

.bb0 {
    margin-top: 10dvw;
    padding-top: 1.5vw;
    padding-bottom: 2vw;
    padding-right: 7vw;
    padding-left: 7vw;
    border-radius: 1vw;
    font-weight: 800;
    position: absolute;
    left: 29dvw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background:  white;
    border-width: 2dvw;
}

.bb0:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

.bold {
    font-weight: 700;
    margin-bottom: -3dvw;
}
.pm {
    color: white;
    margin-top: -0.01dvw;
    margin-bottom: -0.01dvw;
}

#road {
    width: 90dvw;
}

